language: java

services:
  - docker

before_install:
  - docker pull elgalu/selenium
  - docker pull dosel/zalenium
  - docker run --rm -d --name zalenium -p 4444:4444 -v /var/run/docker.sock:/var/run/docker.sock
    -v $TRAVIS_BUILD_DIR/videos:/home/seluser/videos --privileged dosel/zalenium start

before_deploy:
  - find $TRAVIS_BUILD_DIR/videos -type f -empty -delete -print
  - git tag "$(date +'%Y%m%d%H%M%S')-$(git log --format=%h -1)"

deploy:
  provider: releases
  api_key:
    secure: $GITHUB_OAUTH_TOKEN
  file_glob: true
  file: $TRAVIS_BUILD_DIR/videos/**/*
  skip_cleanup: true