language: java

services:
  - docker

before_install:
  - docker pull elgalu/selenium
  - docker pull dosel/zalenium
  - docker run --rm -d --name zalenium -p 4444:4444 -v /var/run/docker.sock:/var/run/docker.sock
    -v $TRAVIS_BUILD_DIR/videos:/home/seluser/videos --privileged dosel/zalenium start

after_success:
  - docker stop zalenium

before_deploy:
  - tar -cjf videos.tar.bz2 -C $TRAVIS_BUILD_DIR/videos .
  - git tag "$(date +'%Y%m%d%H%M%S')-$(git log --format=%h -1)"

deploy:
  provider: releases
  api_key:
    secure: $GITHUB_OAUTH_TOKEN
  file_glob: true
  file: videos.tar.bz2
  skip_cleanup: true